extend layout

block content
    h2 About Us Page
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    p I am Steven Murray.  I am an experienced senior-level software engineer attempting to re-start my career by adding full-stack engineer to my skill set.  I have more than 26 years of development experience in non-web technologies like SQL Server, C#, Visual Basic, Delphi, and even some COBOL.
    br
    p This is a page utilizing templating language to render HTML pages, as well as HTML form POST operations.
    br
    p This page is a catalog of many of the film characters from my favorite movie franchises, like Star Wars or Indiana Jones.  I am attempting to alter some of the presentation but have yet to determine how to do what I want to do.  I will find out how to do what I want to do, specifically with the characters page, to list them in a more sorted view, sorted by franchise and including far more characters.  To that end I expect to add database functionality soon.
    br
    br
    .row
        .col-md
            img(src="/images/SAM_1323.jpg" alt="the author" height=200 width=300)
        .col-md
            ul Experience
                li= "Texas A&M University, 1989"
                li= "BBA, Business Analysis - Management Information Systems"
                li= "Texaco - 3 years 1993 - 1996"
                li= "American General VALIC - 5 years 1996 - 2001"
                li= "ICON Clinical Research - 7 years 2006 - 2013"
                li= "Trafficware - 2 years 2013 - 2015"
                li= "Contract positions between 1990 and 1993, 2001 and 2003"
                li= "Consultant positions between 2003 and 2006"
        .col-md
            ul Family and Interests
                li= "Wife Rhonda"
                li= "Daughter Danielle"
                li= "Son Tyler"
                li= "World War II History, particularly aviation"
                li= "Building Scale Model Aircraft"
                li= "Photography"
                li= "Disney World"
                li= "Texas Aggie football"
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")